
body{
  background-color: black;
}
.header-color{
  position:;
  text-align: center;
}
.links:hover{
  background: #888;
  color:white;
}
@media (max-width:700px) {
  .material-icons{
    color: #fff;
  }
}
.homepage-grid{
  text-align: center;
}
.avatar-img{
  height: 90px;
  border-radius: 50%;
  padding-top: .5em;
  animation:slideInDown 1s ease-in-out;
}
.homepage-text{
  width: 85%;
  margin: auto;
  border-radius: 2px;
  text-align: center;
}
@media (max-width:700px) {
  .homepage-text{
    width: 100%;
    margin:0px ;
  }
}
.homepage-text h2{
  font-size: 23px;
  color:silver;
  padding-top:20px;
}
.homepage-text h2 span{
  animation: pulse 1s ease-in-out 2s 2;
}
.homepage-text hr{
  border-top: 2px Dotted #777;
  margin:auto;
  width:67%;
}
.homepage-text h6{
  color: #fff;
  padding: .5em;
}
.homepage-h6-1{
  animation: zoomIn 1s ease-in-out .3s;
}
.homepage-h6-2{
  animation: zoomIn 1.1s ease-in-out .6s;
}
.homepage-h6-3{
  animation: zoomIn 1.3s ease-in-out .9s;
}
.homepage-h6-4{
  animation: zoomIn 1.4s ease-in-out 1.2s;
}
.homepage-h6-5{
  animation: zoomIn 1.5s ease-in-out 1.4s;
}
.homepage-h6-6{
  animation: zoomIn 1.6s ease-in-out 1.6s;
}
.homepage-text p{
  color: #555;
  text-align: justify;
}
.homaepage-cell1 p{
  animation: slideInLeft 1s ease-in-out;
}
.homaepage-cell2 p{
  animation: slideInUp 1s ease-in-out;
}
.my-links {
  display:inline-block;
  margin: auto;
}
.my-links i{
  color:#2bb3c0;
  font-size: 26px;
  padding: 1em;
}
.i1{
  animation: slideInLeft 1s ease-in-out;
}
.i2{
  animation: slideInRight 1s ease-in-out;
}
.my-links i:hover{
  color: #888;
}
 .material-icons{
  opacity: 0;
}
@media (max-width:700px) {
  .material-icons{
   opacity: 1;
 }
}
/* this is lab-page*/
.labs-page{
  margin: auto;
  background: #DAD2E2 ;
  width: 100%;
  height: 530px;
  text-align: center;
  padding-top: 3%;
}
.labs-category{
  display:flex;
  margin: 2em;
  background: tranparent;
}
div .mdl-tabs__tab-bar {
  border:1px solid transparent;
}
div .mdl-card{
  background: transparent;
  cursor: pointer;
}
div .mdl-card__supporting-text{

}
div .mdl-button.mdl-button{
  color: #DAD2E2;
  animation: slideInUp 1s ease-in-out;
  border: 1px solid #2bb3c0;
}
div .mdl-button.mdl-button:hover{
  color: #2bb3c0;
  border: 1px solid #DAD2E2;
}

h2.mdl-card__title-text{
  animation: slideInRight 1s ease-in-out;
}
/* this is contact pase */
.contact-page{
  color:silver;
  margin: auto;
  width: 100%;
  height: 585px;
  text-align: center;
  padding-top: 5%;
}
.contact-grid h2{
  font-size: 20px;
}
.contact-grid hr{
  border-top: 2px Dotted #928d97;
  margin:auto;
  width:67%;
}
.contact-grid p{
  padding-top: 5%;
  text-align:center;
}
{/* this is about me*/}
.aboutme-page{
  padding: 0;
  height:100%;
}
.aboutme-cell1{
  font-size: 15px;
  animation: slideInLeft 2s ease-in-out;
  padding: 8em 2em 2em 2em;
  color: #fff;
  width: 100%;
}
.aboutme-cell2p1{
  font-size: 15px;
  color:#fff;
  padding: 4em;
  animation: slideInDown 2s ease-in-out;
}
@media (max-width:700px) {
  .aboutme-cell2p1{
    padding:1em;
  }
}
.aboutme-cell2p2{
  font-size: 15px;
  color: #2bb3c0;
  animation: slideInUp 2s ease-in-out;
}
@media (max-width:700px) {
  .aboutme-cell2p2{
    width: 90%;
    padding: 0;
    margin: 0;
  }
}
.aboutme-cell3{
  text-align: center;
}
.aboutme-cell3 ul{
  animation: slideInRight 2s ease-in-out;
  height: 50px;
  margin: 10px;
  background: purple;
  font-size: 16px;
  padding: 20px 10px 0 0;
  cursor: pointer;
}
.aboutme-cell3 ul:hover{
  color:black;
}
{/* this is resume*/}
.resume-page{
  margin: auto;
  background: #000 ;
  width: 100%;
  height:100;
  text-align: center;
  padding-top: 5%;
}
.resume-page hr{
  border-top: 1px Dotted purple;
  margin:auto;
  width:100%;
}
.resume-page h2{
  font-size: 20px;
  color: #fff;
  text-decoration: underline;
}
.span1{
  color: orange;
  animation: pulse 1s ease-in-out 5;
}
.span2{
  animation: pulse .5s ease-in-out 1s 5;
}
.avatar-img1{
  height: 90px;
  border-radius: 50%;
  padding-top: .5em;
}
{/* this is skills certification*/}
.certification-comp{
  text-align: justify;
}
